.body {
    background-color: #6363e9;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.cv-container {
    font-family:'Poppins', sans-serif;
    max-width: 800px;
    margin: 80px auto 20px; 
    background-color: #7df5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(240, 238, 128, 0.1);
}


.foto-perfil {
    width: 150px;            
    height: 150px;
    object-fit: cover;      
    border-radius: 50%;      
    border: 4px solid #333;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    display: block;
    margin: 0 auto;        
}


.navbar {
    font-family:'Poppins', sans-serif;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.navbar ul {
    font-family:'Poppins', sans-serif;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0;
}

.navbar a {
    font-family:'Poppins', sans-serif;
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #575757;
}


.cv-container {
    margin-top: 70px;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #333;
  margin-top: 50px;
}